/* Mystyle.css */

/* 
 * It's not recommend you edit the code between the Start Position CSS and End Position CSS comments unless you really know what
 * you're doing.  If you do, you could break the layout, and you could experience a lot of wacky behaviour.
 * 
 **/


body { 
	/*Start Position CSS*/
	margin: 0;
	padding: 1em;
	/*End Position CSS*/
}

.header { 
	
	/*Start Position CSS*/
	height: 100px; 	
	border-bottom: 1px solid #3c7796; 
	padding: 1em;
	/*End Position CSS*/	

	background-image:url(header.jpg);	
		
	text-align: center;	
	font: bold 3em serif;
        color: white;	
}

.maintext { 
	
	/*Start Position CSS*/
	width: 640px;	
	float: left;
	margin: 0;
	padding: 1em;	
	border-left: 1px solid #3c7796;
        background-color: lightblue;
	/*End Position CSS*/
}

img.imgcentre {
display: block;
margin-left: auto;
margin-right: auto;

}


.links { 

	/*Start Position CSS*/
	width: 150px;
	float: left;
	margin: 0;
	padding: 1em;
	bottom: 0px;
        background-color:pink;
	/*End Position CSS*/	

}

h1 {
	margin: 0;
	padding: 0;
	color: white;
}

h2 {
	margin: 0;
	padding: 0;
	color: blue;
}

h3 {
	margin: 0;
	padding: 0;
	color: blue;
}



.container { 
	
	/*Start Position CSS*/
	width: 855px;
	margin: auto;
	text-align: left;
	border: 1px solid #3c7796; 
	/*End Position CSS*/
}

.footer {
	clear: both;
}
